<body>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <!-- Sidenav -->
    <%- include ("../../partials/sidebar") %>
        <div class="main-content">
            <!-- Page content -->
            <div class="container-fluid mt--7">
                <div class="row">
                    <div class="col mt-8">
                        <div class="card shadow">
                            <div class="card-header border-0">
                                <h3 class="mb-0">Create Team</h3>
                            </div>
                            <div class="card-footer py-4">
                                <form method="POST" id="teamCreateForm" onsubmit="createTeam(event)"
                                    enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="input-group input-group-alternative mb-3">
                                                    <!-- <div class="input-group-prepend">
                            <span class="input-group-text"
                              ><i class="ni ni-email-83"></i
                            ></span>
                          </div> -->
                                                    <input type="text" id="name" required placeholder="Name"
                                                        class="form-control" name="name" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="input-group input-group-alternative mb-3">
                                                    <input type="text" required placeholder="title" name="title"
                                                        class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="input-group input-group-alternative mb-3">
                                                    <textarea class="form-control" required
                                                        placeholder="Short Description" name="description"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="input-group input-group-alternative mb-3">
                                                    <input type="text" required placeholder="Social Links"
                                                        class="form-control" name="socialLinks" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="input-group input-group-alternative mb-3">
                                                    <input type="file" id="aboutUsImageFile" class="form-control"
                                                        name="aboutUsImage" style="height: auto" accept=".png" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>

                            <div class="text-center">
                                <button class="btn btn-primary mt-4 mb-4" type="submit">
                                    Create Team Member
                                </button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <script>
            const createTeam = (e) => {
                e.preventDefault();
                const formElement = document.querySelector("#teamCreateForm");
                const formData = new FormData(formElement);
                // formData.append("courseDescription",editor.value);
                postTeamData(formData)
                    .then(async (response) => {
                        window.location.href = "/about/view-teams";
                    })
                    .catch((err) => {
                        console.log(err);
                    });
            }
            const postTeamData = async (teamData) => {
                const { accessToken } = JSON.parse(localStorage.getItem("tokens"));
                const response = await fetch(`/api/v1/about/add-team-member`, {
                    method: "POST",
                    headers: {
                        Authorization: `Bearer ${accessToken}`,
                    },
                    body: teamData,
                });
                return response;
            };
        </script>
</body>