<body>
  <!-- Sidenav -->
  <%- include  ("../partials/sidebar") %>
  <div class="main-content">
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-4 mb-5 mb-xl-0">
        </div>
        <div class="col-xl-4" style="margin-top: 13rem;">
          <div class="card shadow">
            <div class="card-body">
              <!-- Chart -->
              <div class="chart d-flex justify-content-center" style="align-items: center;">
                <h1>Project cancelled</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 mb-5 mb-xl-0">
        </div>
      </div>
    </div>
  </div>
</body>
