<body>
  <div class="card container p-5">
    <h1 class="text-center" style="margin-bottom: 1rem;">Login to dashboard </h1>
    <form action="/api/auth/login" method="POST" id="loginForm">

      <div class="form-group">
        <div class="input-group input-group-alternative mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
          </div>
          <input type="email" class="form-control" name="email" />
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-alternative mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"
              ><i class="ni ni-lock-circle-open"></i
            ></span>
          </div>
          <input type="password" name="password" class="form-control" />
        </div>
      </div>

      <div class="text-center">
        <button
          class="btn btn-primary mt-4"
          type="button"
          onclick="loginAndRedirect()"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</body>
